@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Ensure consistent text size across browsers */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
    overflow-y: auto;
  height: auto;
}

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

@theme {
  --color-primary: #5044e5;
}
